[Unit]
Description=Minecraft Manager
After=network.target
PartOf=mcman.target

[Service]
Type=simple
User=mcman
EnvironmentFile=/var/lib/mcman/instance/%i/environment
WorkingDirectory=/var/lib/mcman/instance/%i
ExecStart=/usr/bin/java ${JAVA_OPTIONS} -jar /var/lib/mcman/instance/%i/server.jar
Restart=on-failure

[Install]
WantedBy=multi-user.target